body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    background-image: url(/src/img/fundoo.png);
    background-size: cover;
  }

  .card {
  max-width: 350px;
  min-height: 350px;
  padding: 40px 30px 30px 30px;
  background-color: #FFFF;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}