<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Definir Nova Senha</title>
</head>

<body>
    <h1>Definir Nova Senha</h1>


    <form action="/auth/reset-password" method="post" >
        <input type="hidden" id="email" name="email" value="<%= email %>">

        <label for="novaSenha">Nova Senha:</label>
        <input type="password" id="novaSenha" name="novaSenha" required>

        <label for="confirmarNovaSenha">Confirmar Nova Senha:</label>
        <input type="password" id="confirmarNovaSenha" name="confirmarNovaSenha" required>

        <a href="/auth/reset-password/<%= email %>">Resetar Senha</a>

    </form>


</body>

</html>